torch
torchvision
lightning
accelerate
toml
black
GitPython
colorlog
pytest
pytest-cov
pytest-xdist
pytest-sugar
pytest-html
pytest-profiling
ipython
ipdb
pybind11
tabulate
tensorboard
optuna
stable-baselines3
scikit-learn
pyyaml
numpy
pandas
wandb
gym
matplotlib
partial
PennyLane
PennyLane-Lightning
Pillow
pytorch-lightning
torchmetrics
tqdm
typing_extensions
timm
qw_map
line_profiler
jax
torch-fidelity